<div>
{{#if products}}
  <h1>Lista de Productos</h1>
  <ul class="flex">
    {{#each products}}
    <li class="space">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <p>{{price}}</p>
      <img src="{{thumbnail}}" alt="{{description}}" class="size">
    </li>
    {{/each}}
  </ul>
  {{else}}
    <h1>No hay productos cargados</h1>
  {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>